{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

{% block stylesheets %}
<style>
  /* Refinements to Match Existing Black Theme */
  .modal-content {
    background: linear-gradient(135deg, #09090a 0%, #1d1e20 100%); /* Glossy gradient */
    color: #dee2e6; /* Light Gray Text */
  }
  .modal-header, .modal-footer {
    border-color: #343a40; /* Subtly Darker Border */
  }
  .form-control {
    background-color: #343a40; /* Input Field Background */
    color: #dee2e6; /* Input Field Text */
    border-color: #495057; /* Input Field Border */
  }
  .form-control:focus {
    background-color: #343a40;
    color: #dee2e6;
    border-color: #6c757d;  /* Focused Input Field Border */
    box-shadow: none; /* Remove default focus shadow */
  }
  .form-lclient{
    color: #dee2e6; /* Label Text */
  }

  /* Center the Button */
  .modal-footer {
    justify-content: center;
  }
  /* Optional: Style for fullscreen image */
img:fullscreen {
  width: 100vw;
  height: 100vh;
  object-fit: contain; /* Adjust the image's fit within the screen */
}

</style>
{% endblock stylesheets %}

{% block content %}

<div class="content">
  <div class="row">
    <!-- <div class="card card-chart">
      <div class="card-header">
        <div class="form-container">
          <div class="card-footer text-center">
            <button type="button" class="btn btn-fill btn-primary" data-bs-toggle="modal" data-bs-target="#articleModal">Add Article</button>
          </div>
        </div>
      </div>
    </div> -->
    <div class="card">
      <div class="card-header">
          <h4 class="card-title">Vendors</h4>
      </div>
      <div class="card-body">
          <div class="table-responsive">
              <table class="table">
                  <thead class=" text-primary">
                      <tr>
                          <th>Name</th>
                          <th>Location</th>
                          <th>Contact</th>
                          <th>Business Type</th>
                          <th>Country</th>
                          <th>Email</th>
                      </tr>
                  </thead>
                  <tbody>
                    {% for vendor in vendors %}
                    <tr>
                        <td>{{ vendor.name }}</td>
                        <td>{{ vendor.location }}</td>
                        <td>{{ vendor.contact }}</td>
                        <td>{{ vendor.business_type }}</td>
                        <td>{{ vendor.country }}</td>
                        <td>{{ vendor.email }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
              </table>
              <div class="card-footer text-center">
                <button type="button" class="btn btn-fill btn-primary" data-bs-toggle="modal" data-bs-target="#vendorModal">Add Vendor</button>
              </div>
          </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
          <h4 class="card-title">Articles</h4>
      </div>
      <div class="card-body">
          <div class="table-responsive">
              <table class="table">
                  <thead class=" text-primary">
                      <tr>
                          <th>Category</th>
                          <th>Product Name</th>
                          <th>Article Number</th>
                          <th>Gender</th>
                          <th>Color</th>
                          <th>Size</th>
                          <th>Description</th>
                          <th>View Images</th>

                      </tr>
                  </thead>
                  <tbody>
                    {% for article in articles %}
                    <tr>
                        <td>{{ article.Category }}</td>
                        <td>{{ article.Product_Name }}</td>
                        <td>{{ article.Article_No }}</td>
                        <td>{{ article.Gender }}</td>
                        <td>{{ article.Color }}</td>
                        <td>{{ article.Size }}</td>
                        <td>{{ article.Description }}</td>
                        <td>
                          <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#imageModal{{ article.Article_No }}">View Images</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
              </table>
              <div class="card-footer text-center">
                <button type="button" class="btn btn-fill btn-primary" data-bs-toggle="modal" data-bs-target="#articleModal">Add Article</button>
              </div>
          </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
          <h4 class="card-title">Clients</h4>
      </div>
      <div class="card-body">
          <div class="table-responsive">
              <table class="table">
                  <thead class=" text-primary">
                      <tr>
                          <th>Name</th>
                          <th>Location</th>
                          <th>Contact</th>
                          <th>Business Type</th>
                          <th>Country</th>
                          <th>Email</th>
                      </tr>
                  </thead>
                  <tbody>
                    {% for client in clients %}
                    <tr>
                        <td>{{ client.name }}</td>
                        <td>{{ client.location }}</td>
                        <td>{{ client.contact }}</td>
                        <td>{{ client.business_type }}</td>
                        <td>{{ client.country }}</td>
                        <td>{{ client.email }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
              </table>
              <div class="card-footer text-center">
                <button type="button" class="btn btn-fill btn-primary" data-bs-toggle="modal" data-bs-target="#clientModal">Add Client</button>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="vendorModal" tabindex="-1" aria-labelledby="vendorModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="post" action="{{ url_for('home_blueprint.add_vendor') }}">
          {{ vendor_form.hidden_tag() }}
          <div class="form-group">
            <label for="name" class="form-label">Name:</label>
            {{ vendor_form.name(class="form-control", id="name", placeholder="Enter name") }}
          </div>
          <div class="form-group">
            <label for="location" class="form-label">Location:</label>
            {{ vendor_form.location(class="form-control", id="location", placeholder="Enter location") }}
          </div>
          <div class="form-group">
            <label for="contact" class="form-label">Contact:</label>
            {{ vendor_form.contact(class="form-control", id="contact", placeholder="Enter contact") }}
          </div>
          <div class="form-group">
            <label for="business_type" class="form-label">Business Type:</label>
            {{ vendor_form.business_type(class="form-control", id="business_type", placeholder="Enter Business Type") }}
          </div>
          <div class="form-group">
            <label for="country" class="form-label">Country:</label>
            {{ vendor_form.country(class="form-control", id="country", placeholder="Enter country") }}
          </div>
          <div class="form-group">
            <label for="email" class="form-label">Email:</label>
            {{ vendor_form.email(class="form-control", id="email", placeholder="Enter email") }}
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-secondary">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Article Modal -->

<div class="modal fade" id="articleModal" tabindex="-1" aria-labelledby="articleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="post" action="{{ url_for('home_blueprint.add_article') }}" enctype="multipart/form-data">
          {{ article_form.hidden_tag() }}
          <div class="form-group">
              <label for="Category">Category</label>
              {{ article_form.Category(class="form-control") }}
          </div>
          <div class="form-group">
              <label for="Product_Name">Product Name</label>
              {{ article_form.Product_Name(class="form-control") }}
          </div>
          <div class="form-group">
              <label for="Article_Number">Article Number</label>
              {{ article_form.Article_Number(class="form-control") }}
          </div>
          <div class="form-group">
              <label for="Gender">Gender</label>
              {{ article_form.Gender(class="form-control") }}
          </div>
          <div class="form-group">
              <label for="Color">Color</label>
              {{ article_form.Color(class="form-control") }}
          </div>
          <div class="form-group">
              <label for="Size">Size</label>
              {{ article_form.Size(class="form-control") }}
          </div>
          <div class="form-group">
              <label for="Description">Description</label>
              {{ article_form.Description(class="form-control") }}
          </div>
          <div class="form-group">
            <label for="Article_images">Images</label>
            {{ article_form.Article_images(class="form-control", id="Article_images", accept=".png, .jpg, .jpeg", multiple=True) }}
        </div>        
          <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      </div>
    </div>
  </div>
</div>
{% for article in articles %}
<div class="modal fade" id="imageModal{{ article.Article_No }}" tabindex="-1" aria-labelledby="imageModalLabel{{ article.Article_No }}" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="imageModalLabel{{ article.Article_No }}">{{ article.Product_Name }} - Images</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          {% set image_folder = url_for('static', filename='images/' ~ article.Product_Name) %}
          {% for image in image_files(article.Product_Name) %}
          <div class="col-md-3 mb-3">
            <img src="{{ image_folder ~ '/' ~ image }}" class="img-fluid" alt="Image" onclick="openFullscreen(this)" style="cursor: pointer;" />
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}

<div class="modal fade" id="clientModal" tabindex="-1" aria-labelledby="clientModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="post" action="{{ url_for('home_blueprint.add_client') }}">
          {{ client_form.hidden_tag() }}
          <div class="form-group">
            <label for="name" class="form-label">Name:</label>
            {{ client_form.name(class="form-control", id="name", placeholder="Enter name") }}
          </div>
          <div class="form-group">
            <label for="location" class="form-label">Location:</label>
            {{ client_form.location(class="form-control", id="location", placeholder="Enter location") }}
          </div>
          <div class="form-group">
            <label for="contact" class="form-label">Contact:</label>
            {{ client_form.contact(class="form-control", id="contact", placeholder="Enter contact") }}
          </div>
          <div class="form-group">
            <label for="business_type" class="form-label">Business Type:</label>
            {{ client_form.business_type(class="form-control", id="business_type", placeholder="Enter Business Type") }}
          </div>
          <div class="form-group">
            <label for="country" class="form-label">Country:</label>
            {{ client_form.country(class="form-control", id="country", placeholder="Enter country") }}
          </div>
          <div class="form-group">
            <label for="email" class="form-label">Email:</label>
            {{ client_form.email(class="form-control", id="email", placeholder="Enter email") }}
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-secondary">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


{% endblock content %}

{% block javascripts %}
<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"></script> 
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

<script>
  $(document).ready(function () {
    // Javascript method's body can be found in assets/js/demos.js
    demo.initDashboardPageCharts();
  });

  function openFullscreen(img) {
  if (img.requestFullscreen) {
    img.requestFullscreen();
  } else if (img.mozRequestFullScreen) { /* Firefox */
    img.mozRequestFullScreen();
  } else if (img.webkitRequestFullscreen) { /* Chrome, Safari and Opera */
    img.webkitRequestFullscreen();
  } else if (img.msRequestFullscreen) { /* IE/Edge */
    img.msRequestFullscreen();
  }
}

</script>

{% endblock javascripts %}
